<div class="package-card">
  <a href="{{ package.link }}">
    <img src="{{ package.image }}" alt="{{ package.title }}">
    <h3>{{ package.title }}</h3>
    <p>{{ package.description }}</p>
  </a>
</div>
